<!--topic template-->
{% extends "main/base.html" %}

<body>
    {% block content %}
    <section class="py-5 text-center container-fluid" style="background-color: #336600">
        <div class="row py-lg-0">
          <div class="col-sm-3 col-sm-6 mx-auto">
          </div>
          <div class="album py-0 bg-light">
            <div class="container-fluid">
              <div class="row row-cols-md-3 row-cols-sm-2 row-cols-md-3 g-2">
                  {% for note in notes %}
                  <div class="col-md-3">
                      <div class="card shadow-sm">
                          <img class="bd-placeholder-img card-img-top" width="150" height="300" src="{{ note.photo1.url }}">
                          <div class="card-body">
                              <h4 class="card-title">{{ note.titile }}</h4>
                              <p class="card-text">{{note.text | linebreaks}}</p>
                              <p class="card-text pricing-card-title">{{note.date}}</p>
                          </div>
                      </div>
                  </div>
                  {% empty %}
                  <div class="col-sm-3 col-sm-6 mx-auto">
                    <h1 class="fw-light">You can add your note here</h1>
                  </div>
               </div>
            </div>
            {% endfor %}
            {% endblock %}
        </div>
    </section>
    
</body>