<!--topics list template--->
{% extends "main/base.html" %}


<body>
    {% block content %}
    <br>
    <div>
      <a href="{% url 'main:new_topic' %}" class="btn btn-outline-secondary">Add topic</a>
    </div>
    <br>
    <div class="list-group w-auto">
      {% for topic in topics %}
      <a href="{% url 'main:topic' topic.id %}" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
        <img src="https://cdn-icons-png.flaticon.com/512/1827/1827914.png" alt="twbs" width="32" height="32" class="flex-shrink-0">
        <div class="d-flex gap-2 w-100 justify-content-between">
          <div>
            <h6 class="mb-0">{{ topic.title }}</h6>
            <p class="mb-0 opacity-75">{{ topic.description }}</p>
          </div>
        </div>
      </a>
      {% endfor %}
    </div>
    {% endblock %}
  </body>